#Button-header {
  background-color: transparent;
  width: 4rem;
  height: 2rem;
  border-radius: 5rem;
  /* box-shadow: 5px 0px 10px rgba(139, 69, 19, 0.8); */
  cursor: pointer;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.Button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.Welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  gap: 2rem;
  margin-bottom: 3.5rem;
  backdrop-filter: blur(2px);
  position: relative;
  top: -25%;
}

.img-dots {
  position: relative;
  height: 20rem;
  top: 25%;
  left: -3%;
  animation: rotate 19s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Title {
  /* font-weight: 900; */
  font-size: 60px;
}
#Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 34px;
  font-weight: 600;
}
