button {
  color: #fff;
  background-color: #1b2527ff;
  width: 3.5rem;
  height: 1.7rem;
  border-radius: 5rem;
  box-shadow: 1px 4px 4px 0px rgba(8, 31, 16, 0.8);
  cursor: pointer;
  border: 4px solid rgb(18, 26, 20);
  width: 6rem;
  height: 2rem;
}

.Navbar-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  height: 4rem;
  width: 100%;

  padding: 2rem;
  background: linear-gradient(to right top, var(--dark), var(--green));

  backdrop-filter: blur(10px);
}
