.Projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 5rem;
  padding-left: 0.5rem;
  width: 80%;
  height: 85rem;

  /* background-color: #244b34ff; */
  border-radius: 5%;
  backdrop-filter: blur(5px);
}

.ImgProject {
  width: 12rem;
  height: 15rem;
  border-radius: 10%;
  padding-left: 0.5rem;
}

#Ønskelister {
  grid-column: 2 span;
  margin-left: 28%;
}

.Icons {
  width: 1.4rem;
  height: 1.4rem;
}

.Project-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  border: 4px solid black;
  border-radius: 10%;
  width: 28rem;
  height: 18rem;
  background: linear-gradient(to right top, var(--dark), var(--green));
  box-shadow: 0px 0px 15px 6px black;
}

.Icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid black; */
  border-radius: 5%;
  /* box-shadow: 0px 1px 1px 2px black; */
  width: 75%;
  height: 2.4rem;
  margin-left: 1.5rem;
}

.Information-project {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 2rem;
}

.title-project {
  text-align: center;
}

.Links-containerIcons {
  display: flex;
  gap: 0.5rem;
}

.Icons-container-tools {
  display: flex;
  gap: 0.5rem;
}

.GitHubIcon {
  width: 2.5rem;
}

.MySQLIcon {
  width: 2.5rem;
}
